@import "../scss/variables";
.movies-list-wrapper {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing:border-box;
}
.movie-item-wrapper {
    width: 100%;
    margin: 15px 0px 0px 15px;
    cursor: pointer;
}

@media(min-width: $max-size-tablet) {
  .movie-item-wrapper {
    width: 40%;
  }
  .movies-list-wrapper {
    flex-direction: row;
  }
}
@media(min-width: $max-size-desktop) {
  .movie-item-wrapper {
    width: 15%;
  }
}
