$max-size-xs-mobile:300px;
$max-size-mobile:600px;
$max-size-tablet:720px;
$max-size-desktop:1280px;
$max-size-large-screen:1920px;

$danger-red: #ff0000;
$color-border-grey: #444444;
$color-white: #ffffff;
$color-grey: #303030;
$color-light-grey: #c4c4c4;
$color-black: #0c0c0c;
