$max-size-xs-mobile:300px;
$max-size-mobile:600px;
$max-size-tablet:720px;
$max-size-desktop:1280px;
$max-size-large-screen:1920px;

$danger-red: #ff0000;
$color-white: #f9f9f9;
$color-grey: #9caaa9;
$color-light-grey: #bccac9;
$color-dark-blue: #264653;
$color-black: #2b3a39;
