@import "../scss/variables";

.prop {
  margin-top: 10px;
}
.prop:last-child {
  margin-bottom: 10px;
}
.movie-page-wrapper {
  display: flex;
  flex-direction: column;
  margin-top:35px;
  width: 100%;
}
.movie-poster-wrapper {
  order: 1;
  flex-basis: 100%;
}
.movie-details-wrapper {
  order: 2;
  flex-basis: 100%;
  display:flex;
  padding-left: 10px;
  flex-direction: column;
}
@media(min-width: $max-size-tablet) {
  .prop {
    word-break: break-word;
    max-width: 65%;
  }
  .movie-page-wrapper {
    flex-direction: row;
    margin: 40px auto 0;
    width:60%;
    justify-content: center;
  }
  .movie-poster-wrapper {
    order: 2;
    flex-basis: 30%;
  }
  .movie-details-wrapper {
    order: 1;
    flex-basis: 70%;
  }
}

